@{
    Layout = "_Layout";
}

<div class="form-group m-3">
    <p>Kullanıcı adı veya mail adresinizi giriniz.</p>
</div>
<div class="form-group m-3">
    <input type="text" class="form-control" name="userNameOrEmail" id="userNameOrEmail" placeholder="User Name Or Email" required>
</div>
<button class="btn btn-primary m-3" id="sendButton">Gönder</button>

@section Scripts {
    <script>

        $(document).ready(function () {

            $("#sendButton").click(function () {

                var userNameOrEmail = $("#userNameOrEmail").val();

                $.ajax({
                    url: "/Login/SendCodeToEmail",
                    dataType: "json",
                    data: {
                        userNameOrEmail: userNameOrEmail
                    },
                    success: function (data) {
                        if (data != null) {
                            location.href = `/Login/CodePage?id=${data}`;
                        }
                        else {
                            alertify.notify('Girmiş olduğunuz bilgiler dahilinde kullanıcı bulunamadı', 'error', 3);
                        }

                    }
                });

            })
        });
    </script>
}